# Django Secret Key
DJANGO_SECRET_KEY=your-secret-key-here

# Database Configuration
DATABASE_NAME=your-database-name
DATABASE_USER=your-database-user
DATABASE_PASSWORD=your-database-password
DATABASE_HOST=your-database-host
DATABASE_PORT=your-database-port

# Debugging and Allowed Hosts
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# AWS Configuration
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=your-aws-region
ENDPOINT_URL=http://your-endpoint-url

# Celery Configuration
CELERY_RESULT_BACKEND=your-celery-result-backend
CELERY_BROKER_URL=your-celery-broker-url
CELERY_ACCEPT_CONTENT=['json']
CELERY_TASK_SERIALIZER='json'

# SNS Topics
FIRST_TOPIC_ARN=your-first-topic-arn
SECOND_TOPIC_ARN=your-second-topic-arn

# SQS Configuration
QUEUE_URL=http://your-sqs-url
