asgiref==3.8.1
attrs==24.2.0
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Django~=5.1.1
djangorestframework==3.15.2
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.5
marshmallow==3.22.0
mysqlclient==2.2.4
packaging==24.1
python-decouple==3.8
referencing==0.35.1
rpds-py==0.20.0
SQLAlchemy==2.0.34
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.4
marshmallow-sqlalchemy==1.1.0
mypy==1.11.2
mypy-extensions==1.0.0
sqlalchemy-stubs==0.4
iniconfig==2.0.0
pluggy==1.5.0
pytest==8.3.2
build==1.2.2
cachetools==5.5.0
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
dill==0.3.6
dnslib==0.9.25
dnspython==2.6.1
ecdsa==0.19.0
localstack==3.7.2
localstack-core==3.7.2
localstack-ext==3.7.2
markdown-it-py==3.0.0
mdurl==0.1.2
plux==1.11.1
psutil==6.0.0
pyaes==1.6.1
pyasn1==0.6.0
pycparser==2.22
pygments==2.18.0
pyotp==2.9.0
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose~=3.3.0

idna~=3.8
pip~=24.2
filelock~=3.16.0
rsa~=4.9
setuptools~=58.1.0
importlib-metadata~=6.0.0
platformdirs~=4.2.0
tabulate~=0.9.0
sqlglot~=25.6.0
tomli~=2.0.1
rich~=13.8.1
PyYAML~=6.0.2
exceptiongroup~=1.2.0
botocore~=1.35.17
boto3~=1.35.17
s3transfer~=0.10.2
jmespath~=1.0.1
six~=1.16.0
zstandard~=0.19.0
certifi~=2024.8.30
pywin32~=306
requests~=2.32.3
urllib3~=1.26.20
ipython~=8.18.1
semver~=3.0.2
wcwidth~=0.2.13
pydantic~=2.8.2
zipp~=3.18.1
uritemplate~=4.1.1
flask~=3.0.3
django-guardian~=2.4.0
drf-nested-routers~=0.94.1